* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    align-items: center;
}

.box {
    width: 400px;
    height: 400px;
    border: 2px solid;

    position: relative;
}

.magic-box {
    width: 250px;
    height: 250px;
    background: green;
    margin: 20px auto;
}